.Techstack {
    padding-left: 120px;
    margin-top: 40px;
}

.Techstack hr {
    color: #138781;
    width: 400px;
    margin: 10px auto;
}

.Techstack h2 {
    font-weight: bold;
    color: #138781;
}

.Techstack .card {
    cursor: pointer;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: all 0.5s ease-in-out;
}

.Techstack .card:hover {
    background-color: #138781;
    color: #fff;
    border: 1px solid transparent;
    transition: all 0.5s ease-in-out;
}

@media (max-width : 600px) {
    .Techstack {
        padding-left: 0px;
    }

}